/* Global */

/* Utilizando variáveis para cores */
:root {
    --cor-base-um: #000000;
    --cor-base-dois: #ffffff;

    --cor-principal-um: #1ed760;
    
    --cor-background-parteDeCima: #993399;
    --cor-background-parteDeBaixo: #2941AB;    
}

/* Configuração Global */
* {
    margin: 0;
    padding: 0;
}


/* Configuração De todo o conteudo */
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* --------------------------------- */
/* Menu */

/* Configuração do cabeçalho */
header {
    display: flex;
    background: var(--cor-base-um);
    color: var(--cor-base-dois);
    justify-content: space-between;
    padding: 16px 103px;
}
/* configuração da logo */
div#logo {
     margin-top: 5px; /* colocando uma margem do topo na logo */
}
/* configuração geral da lista */
nav ul{
    display: flex;
    margin-top: 15px; /* colocando uma margem do topo nos links de navegação */ 
}
/* configuração dos itens da lista */
nav li {
    list-style-type: none; /* tirando as marcações de lista */
    margin-left: 30px; /* espaço entre os links de navegação*/
    font-size: 17px;
    font-weight: bold;
}
/* configuração dos links de navegação dentro do menu de navegação */
nav a {
    color: var(--cor-base-dois);
    text-decoration: none;  /* tirando os sublinhados dos links de navegação*/  
}
/* animação dos links de navegação */
nav a:hover {
    color: var(--cor-principal-um);
}
/* configuração da barra [ | ] que está no menu de navegação */
nav p {
    font-size: .9em; /* botando um tamanho diferente separado do resto dos links de navegação */
}
/* --------------------------------- */
/* Conteúdo */
main {
    font-family: Helvetica, sans-serif;
}
.conteudo {
    display: flex;
    color: var(--cor-base-dois);
    justify-content: space-between;
}
.conteudo_parteDeCima {
    padding: 8vh 15vh 5vh 15vh;
}
.cordefundo_parteDeCima {
    background: var(--cor-background-parteDeCima);
}
/* .conteudo_esquerdo {
    width: 50vw;
} */
.conteudo_esquerdo_parteDeCima p, h1, h2, h3 {
    margin: 35px 0;
}

.conteudo_esquerdo p {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1.5px; 
}
.conteudo_esquerdo h1 {
    font-size: 3.2em;
    font-weight: 800;  
}
.conteudo_esquerdo h2 {
    font-weight: normal;
    letter-spacing: .25;
    line-height: 40px;
    width: 45vw;
}
.conteudo_esquerdo h3 {
    font-size: 12px;
    line-height: 17px;
    font-weight: lighter;
    width: 50vw;
}
.conteudo_esquerdo h3 a {
    color: var(--cor-base-dois);
}

.linkcadastro {
    padding: 16px 33px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    font-size: 13.5px;
    cursor: pointer;    
}
.linkcadastro:hover {
    transform: scale(1.1);
}

.linkcadastro_cor_parteDeCima {
    background: var(--cor-base-um);
    color: var(--cor-base-dois);
}

.img_parteDeCima {
    margin-top: 30px;
}


/* ------------------------------------------------------------------ */



.cordefundo_parteDeBaixo {
    background: var(--cor-background-parteDeBaixo);
}

.conteudo_esquerdo_parteDeBaixo {
    color: var(--cor-principal-um);
    padding: 8vh 0vh 5vh 12vh;
}
.linkcadastro_cor_parteDeBaixo {
    background: var(--cor-principal-um);
    color: var(--cor-background-parteDeBaixo);
}


.img_parteDeBaixo {
    margin-left: -840px;
    margin-top: -.5px;
    margin-bottom: -3.8px;
}

/* ------------------------------------------------------------------ */
.footer {
    background: var(--cor-base-um);
    color: var(--cor-base-dois);
}
.footer li {
    list-style: none;
}
.footer a {
    text-decoration: none;
    color: var(--cor-base-dois);    
}


.rodape_parteDeCima {
    display: flex;
    /* justify-content: space-between; */
    padding: 70px 100px;
}

.links {
    display: flex;
    margin: 0 130px 0 50px; 
}
.links ul {
    padding: 0 30px; 
}
.links h3 {
    font-size: 12px;
    color: #919496;
    margin-top: 0;
    margin-bottom: 17px;
}
.links a:hover {
    color: var(--cor-principal-um);
}
.links h4 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;    
}

.redessociais ul {
    display: flex;  
    justify-content: space-between;
}

.redessociais li { /* Configuração da borda das logos "redes sociais" */
    margin-left: 15px; /* Espaço entre as logos das redes sociais */
    padding: 15px 15px 10px 15px; /* Tamanho do circulo das logos das redes sociais*/
    border-radius: 50%;
    background: #222326;            
}
.redessociais img {
    background-color: var(--cor-base-dois);
}
.redessociais img:hover {
    background-color: var(--cor-principal-um);
}



.linkbrasil {
    text-align: right;
    margin-right: 132px;
    color: blue;
    font-size: 12px;
    margin-bottom: 11px;
}
.linkbrasil a:hover {
    color: var(--cor-principal-um);
}
.linkbrasil a::before {
    content: '🌎 ';
}



.rodape_parteDeBaixo {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-bottom: 70px;
}
.links_separacao ul {
    display: flex;
    padding-right: 10px;
}
.links_separacao li {
    padding-right: 15px;
    color: ;
}
.links_separacao a {
    color: #919496;
}


.linksdois p::before {
    content: '©️ ';
}