/* Global */

/* Utilizando variáveis para cores */
:root {
    --cor-principal-preto: #000000;
    --cor-principal-branco: #ffffff;
    
    --cor-background-parteDeCima: #993399;
    --cor-background-parteDeBaixo: #2941AB;

    --cor-segundaria-verde-claro: #1ed760;
    --cor-segundaria-azul-forte: #FFFFFF;
}

/* Configuração Global */
* {
    margin: 0;
    padding: 0;
}


/* Configuração De todo o conteudo */
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* --------------------------------- */
/* Menu */

/* Configuração do cabeçalho */
header {
    display: flex;
    background: var(--cor-principal-preto);
    color: var(--cor-principal-branco);
    justify-content: space-between;
    padding: 16px 103px;
}
/* configuração da logo */
div#logo {
     margin-top: 5px; /* colocando uma margem do topo na logo */
}
/* configuração geral da lista */
nav ul{
    display: flex;
    margin-top: 15px; /* colocando uma margem do topo nos links de navegação */ 
}
/* configuração dos itens da lista */
nav li {
    list-style-type: none; /* tirando as marcações de lista */
    margin-left: 30px; /* espaço entre os links de navegação*/
    font-size: 17px;
    font-weight: bold;
}
/* configuração dos links de navegação dentro do menu de navegação */
nav a {
    color: var(--cor-principal-branco);
    text-decoration: none;  /* tirando os sublinhados dos links de navegação*/  
}
/* animação dos links de navegação */
nav a:hover {
    color: var(--cor-segundaria-verde-claro);
}
/* configuração da barra [ | ] que está no menu de navegação */
nav p {
    font-size: .9em; /* botando um tamanho diferente separado do resto dos links de navegação */
}
/* --------------------------------- */
/* Conteúdo */
main {
    font-family: Helvetica, sans-serif;
}
.conteudo {
    display: flex;
    color: var(--cor-segundaria-azul-forte);
    justify-content: space-between;
}
.conteudo_parteDeCima {
    padding: 8vh 15vh 5vh 15vh;
}
.cordefundo_parteDeCima {
    background: var(--cor-background-parteDeCima);
}
/* .conteudo_esquerdo {
    width: 50vw;
} */
.conteudo_esquerdo_parteDeCima p, h1, h2, h3 {
    margin: 35px 0;
}

.conteudo_esquerdo p {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1.5px; 
}
.conteudo_esquerdo h1 {
    font-size: 3.2em;
    font-weight: 800;  
}
.conteudo_esquerdo h2 {
    font-weight: normal;
    letter-spacing: .25;
    line-height: 40px;
    width: 45vw;
}
.conteudo_esquerdo h3 {
    font-size: 12px;
    line-height: 17px;
    font-weight: lighter;
    width: 50vw;
}
.conteudo_esquerdo h3 a {
    color: var(--cor-segundaria-azul-forte);
}

#linkcadastro {
    padding: 16px 33px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    font-size: 13.5px;
    cursor: pointer;    
}
#linkcadastro:hover {
    transform: scale(1.1);
}

.linkcadastro_cor_parteDeCima {
    background: var(--cor-principal-preto);
    color: var(--cor-segundaria-azul-forte);
}

.img_parteDeCima {
    margin-top: 30px;
}


/* ------------------------------------------------------------------ */



.cordefundo_parteDeBaixo {
    background: var(--cor-background-parteDeBaixo);
}

.conteudo_esquerdo_parteDeBaixo {
    color: var(--cor-segundaria-verde-claro);
    padding: 8vh 0vh 5vh 12vh;
}
.linkcadastro_cor_parteDeBaixo {
    background: var(--cor-segundaria-verde-claro);
    color: var(--cor-background-parteDeBaixo);
}

.conteudo_direito {
    margin: px;
}
.img_parteDeBaixo {
    margin-left: -800px;
}

/* ------------------------------------------------------------------ */

.rodape {
    margin: 0;
    background: var(--cor-principal-preto);
    padding: 50px;
}